<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col class="centerText" size="12">
        <h1>Facebook Search</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col class="marginTop" offsetXl="2" sizeXl="8">
        <ion-row>
          <ion-col size="12">
            <h4>Please note that you will need a facebook account to be able to use this, make sure you are logged in.</h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <form (ngSubmit)="searchFacebook()">
              <ion-item>
                <ion-label>From Country: </ion-label>
                <ion-input [(ngModel)]="country" placeholder="Brazil" type="text" name="title"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Living in (City, State): </ion-label>
                <ion-input [(ngModel)]="location" placeholder="Spring Hill, Florida" name="description"></ion-input>
              </ion-item>
              <a (click)="searchFacebook()" target="blank" href="{{url}}">
                <ion-button class="submitButton" size="large" expand="full" ion-button block>Submit</ion-button>
              </a>
            </form>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col offsetXl="2" sizeXl="8">
        <p>More content and search feature will eventually be added</p>
    </ion-col>
    <ion-col size="2">
      <span>website by: Teles Apps</span>
    </ion-col>
  </ion-row>
</ion-footer>